@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    background-color: black;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: all 0.5 ease;
}

header .logo {
    font-family: "Merienda", serif;
    font-size: 24px;
    letter-spacing: 2px;
}

header a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

header a:hover {
    opacity: 0.7;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    height: 8vh;
}

header .nav-list {
    list-style: none;
    display: flex;
}

header .nav-list li {
    font-family: "Merienda", serif;
    font-size: 22px;
    margin-left: 32px;
}

header .mobile-menu {
    display: none;
    cursor: pointer;
}

header .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

header .nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

header .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

header .mobile-menu.active .line2 {
    opacity: 0;
}

header .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

#inicio {
    background-image: url(inicio/img-um-grande.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    margin-top: 8vh;
}

/*COMEÇO SOBRE NOS*/

.txt-animado {
    font-size: 35px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    color: white;
}

.txt-animado span {
    position: relative;
}

.txt-animado span::before {
    content: "";
    color: greenyellow;
    animation: palavras 20s infinite;
}

.txt-animado span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid greenyellow;
    right: -10px;
    opacity: 1;
    animation: ponteiro .8s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 10px);
    background-color: black;
}

@keyframes palavras {

    0%,
    20% {
        content: "Força";
    }

    21%,
    40% {
        content: "Saúde";
    }

    41%,
    60% {
        content: "Perder Peso";
    }

    61%,
    80% {
        content: "Autoestima";
    }

    81%,
    100% {
        content: "Músculo";
    }



}

@keyframes digita {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 10px);
    }
}

@keyframes ponteiro {
    0% {
        border-left: 2px solid #292929;
    }
}



#sobre-nos {
    margin: 70px 0px;
    display: grid;
}

#sobre-nos h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: 3em;
    text-shadow: greenyellow 1px 0 10px;
}

.img-sobre-nos {
    display: flex;
}

.img-sobre-nos img {
    margin: 30px auto 30px auto;
    max-width: 700px;
    width: 90%;
    border-radius: 20px;
    border: 2px solid gray;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.breve-apresentacao {
    color: white;
    text-align: center;
    padding: 10px;
    line-height: 1.3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
}

/*FIM SOBRE NOS*/


/*COMEÇO MODALIDADES*/

#modalidades {
    margin: 70px 0px;
    display: grid;
}

#modalidades h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: 3em;
    text-shadow: greenyellow 1px 0 10px;
}

section.cards {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    /* Espaçamento entre os cards */
}

section.cards>.card {
    padding: 15px;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    width: 100%;
    /* Padrão: Um abaixo do outro */
    max-width: 300px;
    /* Define um tamanho máximo para os cards */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section.cards>.card:hover {
    transform: scale(1.05); /* Aumenta o card */
    box-shadow: rgba(255, 255, 255, 0.5) 0px 10px 20px; /* Sombra mais intensa */
    cursor: pointer;
}

section.cards>.card>h3 {
    color: white;
    font-size: 1.6em;
    margin: 5px 0px;
    font-family: 'Times New Roman', Times, serif;
}

section.cards img {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    width: 250px;
    border-radius: 20px;
}


/*FIM MODALDIDADES*/

/*COMEÇO PLANOS*/

#planos {
    margin: 70px 0px;
    display: grid;
}

#planos h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: 3em;
    text-shadow: greenyellow 1px 0 10px;
}

#planos h3 {
    font-size: 2.5em;
}

#planos p {
    color: white;
    text-align: left;
    padding: 10px;
    line-height: 1.2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
}



/*FIM PLANOS*/

/*COMEÇO UNIDADES*/

#unidades {
    margin: 70px 0px;
    display: grid;
}

#unidades h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: 3em;
    text-shadow: greenyellow 1px 0 10px;
}

#unidades h2 {
    font-weight: bolder;
    text-align: left;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}

#unidades h3 {
    font-size: 1em;
    text-align: left;
    color: gray;
}

#unidades img {
    width: 100%;
    margin-bottom: 5px;
}

/*FIM UNIDADES*/

/*COMEÇO CONTATOS*/

#contatos {
    margin: 70px 0px;
    display: grid;
}

#contatos h1 {
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: 3em;
    text-shadow: greenyellow 1px 0 10px;
}

.contatos ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contatos>ul>a {
    text-decoration: none;
}

.contatos>ul>a>li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #f7f7f7;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.contatos>ul>a>li:hover {
    transform: scale(1.1);
    /* Aumenta ao passar o mouse */
    background-color: #eee;
    /* Cor de destaque */
}

.contatos>ul>a>li>.icone {
    font-size: 1.5em;
    color: inherit;
    /* Herdar a cor do <li> */
}

/*FIM CONTATOS*/

#footer {
    background-color: white;
    /* Fundo preto */
    color: #fff;
    /* Texto branco */
    padding: 20px 0;
    text-align: center;
    border-top: 5px solid greenyellow;
    /* Barra superior vermelha */
    width: 100%;
    /* Ocupa toda a largura da tela */
    position: relative;
    bottom: 0;
    margin-top: 100px;
}

.footer-container {
    max-width: 1200px;
    /* Limita o conteúdo no centro */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 15px;
    /* Espaçamento lateral para telas menores */
}

.footer-logo {
    width: 120px;
    /* Tamanho da logo */
    height: auto;
    margin-bottom: 10px;
}

.footer-menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* Permite quebrar para a próxima linha em telas pequenas */
    justify-content: center;
    /* Centraliza o menu */
}

.footer-menu li {
    display: inline;
}

.footer-menu a {
    color: black;
    /* Texto branco */
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-menu a:hover {
    color: #d9534f;
    /* Texto vermelho ao passar o mouse */
}

#footer p {
    font-size: 0.9em;
    color: black;
    /* Texto cinza claro */
    margin-top: 10px;
}

/* Animação para h1 - Aparece de baixo para cima com leve fade */
h1 {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* Animação para img-certificado - Suave descida com rotação sutil */
.img-apre {
    opacity: 0;
    filter: blur(10px);
    transform: scale(0.8);
    transition: opacity 1s ease, transform 1s ease, filter 1s ease;
}

.show-dois {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
}

/* Animação para .proje - Aparição suave com leve subida e rotação */
.proje {
    opacity: 0;
    transform: translateY(100px) rotate(-5deg);
    transition: opacity .7s ease-in-out, transform .7s ease-in-out;
}

.show-quatro {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
}


@media (min-width: 768px) and (max-width: 1024px) {
    section.cards>.card {
        width: calc(50% - 15px);
        /* 2 por linha */
    }
}

/* Para notebooks e TVs (acima de 1024px) */
@media (min-width: 1025px) {
    section.cards {
        max-width: 920px;
        /* Limita o tamanho total do contêiner */
        margin: 0 auto;
        /* Centraliza os cards na tela */
    }

    section.cards>.card {
        width: calc(33.33% - 15px);
        /* 3 por linha */
    }
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    header .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: rgba(0, 0, 0, 0.866);
        backdrop-filter: blur(10px);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* Reduz o espaçamento vertical */
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    header .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    header .mobile-menu {
        display: block;
    }
}